.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.container button {
  padding: 0.5rem 2rem;
  background-color: var(--outline-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  outline: transparent;
  transition: 0.7s;
}

.container button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.container a {
  text-decoration: none;
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  outline: transparent;
  transition: 0.7s;
}

.container a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 48em) {
  .container {
    font-size: 1.25rem;
  }
}
