.container {
  max-width: 50rem;
}

.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
}

.form img {
  width: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  font-size: 2.5rem;
  text-decoration: none;
}

.form input {
  outline-color: transparent;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.form input:focus {
  border: 2px solid transparent;
  outline: 2px solid var(--outline-color);
}

.display-name,
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-up {
  padding: 0.5rem 0;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  transition: 0.7s;
}

.sign-up:hover {
  opacity: 0.7;
}

.sign-in {
  text-decoration: none;
  color: hsl(216, 87%, 56%);
}

.sign-in:hover {
  text-decoration: underline;
}

.error {
  color: var(--error-color);
}

@media screen and (min-width: 48em) {
  .container {
    margin: 0 auto;
    font-size: 1.25rem;
  }

  .form {
    max-width: 50%;
  }
}
